<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="favicon.ico">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | BudgetSquirrel</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/colors.css" />
    @RenderSection("Styles", required: false)
</head>
<body>

    <header>
        @if (User.Identity.IsAuthenticated)
        {
            <div>
                Hello
                @Html.Raw(ViewData["UserFullName"] + "!")
            </div>
            <form class="" asp-page="Logout" method="post">
                <button type="submit" name="logout">Logout</button>
            </form>
        }
        else
        {
            @if (TempData["FailedLogin"] != null && (bool)TempData["FailedLogin"] == true)
            {
                <div><p>Those credentials are incorrect.</p></div>
            }
            <form asp-page="Login" method="post">
                <input name="username" />
                <input type="password" name="password" />
                <button type="submit">Login</button>
            </form>
        }
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
